table {
  border-spacing: 0.3rem;
  width: 100%;
  padding: 5%;
  border-spacing: 22px 6px;
}

th {
    background: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 160%;
}

td {
  border: 1px solid rgba(224, 224, 224, 1)  ;
  background: #e3e1e1;
  height: 20px;
}

.timeHeader {
    background: #C4C4C4;
    width: max-content;
    font-size: 110%;
    font-weight: lighter;
    vertical-align: top;
    text-align: center;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
}

.centerAppointment {
    background: #6FCF97;
}
.userAppointment {
  background: rgb(104, 142, 255);
}

.available {
  background: rgb(255, 255, 255);
}
