table {
  border-spacing: 0.3rem;
  width: 100%;
  padding: 5%;
  border-spacing: 22px 6px;
}

th {
    background: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 160%;
}

td {
  border: 1px solid rgb(255, 255, 255);
  background: #e3e1e1;
  height: 45px;
}

.timeHeader {
    background: #C4C4C4;
    width: max-content;
    font-size: 110%;
    font-weight: lighter;
    vertical-align: top;
    text-align: center;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
}

.available {
    background: #6FCF97;
}

.notAvailable {
    background: rgb(226, 226, 226);
}
