.loginStyle {
  position: absolute;
  width: 533px;
  left: calc(50% - 533px / 2);
  top: calc(50% - 448px / 2);
  background: #ffffff;
  box-shadow: 0px 11px 15px rgba(0, 0, 0, 0.2), 0px 9px 46px rgba(0, 0, 0, 0.12),
    0px 24px 38px rgba(0, 0, 0, 0.14);
  border-radius: 8px;
  padding-top: 24px;
}

.labelButtom {
  margin-top: 40px;
}

.loginStyle form {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: stretch;
  align-items: stretch;
  padding: 26px;
  outline-offset: -6px;
}
